# Archivos y carpetas generadas por colcon y CMake
build/
install/
log/
install_local/

# Archivos temporales de editores
*.swp
*.swo
*.bak
*~

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de entornos virtuales o de Python
.env/
venv/
.venv/

# Archivos de JetBrains (PyCharm, CLion)
.idea/

# Archivos de VSCode
.vscode/

# Archivos de ROS2 launch logs (si usas ros2 launch)
launch_log.txt

# Configs de CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Archivos de test o cobertura
*.gcda
*.gcno
*.gcov
coverage.xml
htmlcov/

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros
*.log
*.orig
